/*FORMS*/

.css-form input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
  background-color: #78FA89;
}

/*IMAGES*/
#image-list .browse-image{

	max-width: 400px;
}
